<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title><%= siteTitle+' | '+title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Favicon -->
  <link rel="shortcut icon" href="https://via.placeholder.com/16/007bff/007bff" type="image/x-icon">
</head>
<body>
  <% include include/header.ejs %>

  <div class="jumbotron text-center">
    <h1>Cart</h1>
    <p>Resize this responsive page to see the effect!</p> 
  </div>
    
  <div class="container">
    <form method="POST" action="/update-cart">
    <% if(products.length > 0) { %>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Product</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
          <% products.forEach(function(product, index) { %>
            <tr>
              <td><a class="text-body" href="/product/<%= product.pid %>"><img style="max-width: 100px; max-height: 50px;" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/<%= product.picture %>" /></a></td>
              <td><a class="text-body" href="/product/<%= product.pid %>"><%= product.title %></a><br><span class="badge badge-warning"><%= product.name %></span></td>
              <td>₹<%= product.price %></td>
              <td><input type="number" style="width: 70px;" min="1" name="qnt[]" value="<%= product.qnt %>"/></td>
              <td><a href="/remove-from-cart/pid-<%= index %>">Delete</a></td>
            </tr>
          <% }); %>
          </tbody>
        </table>
      </div>
      <div class="clearfix"></div>
      <a href="/empty-cart" class="btn btn-danger float-left">Clear cart</a>
      <a href="/checkout" class="btn btn-primary float-right">Checkout</a>
      <button class="btn btn-success float-right" style="margin-right: 10px;">Update</button>
      <div class="clearfix"></div>
    <% } else { %>
      <p>Your cart is empty. <a href="/shop">Continue shopping</a> </p>
    <% } %>
    </form>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>
  <script src="reload/reload.js"></script>
</body>
</html>